@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    padding: 2rem;
}

.menu {
    position: fixed;
    z-index: 1000;
    width: 150px;
    background: #1b1a1a;
    border-radius: 5px;
    display: none;
    list-style: none;
}

.menu.open {
    display: block;
}

.menu .menu-item {
    padding: 8px 10px;
    font-size: 1rem;
    color: #eee;
    cursor: pointer;
    transition: background-color .2s ease-in;
    border-radius: inherit;
}

.menu .menu-item:hover {
    background: #343434;
}

.fixed-overlay {
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -75px;
}

.modal-container {
    background-color: rgb(250, 240, 210);
    width: 400px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(124, 124, 124);
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items:center;
}